<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

    <a href="/movies/">PELICULAS</a><br>
    <a href="/actors">ACTORES</a><br>
    <a href="/genres/">GENEROS</a><br>
<br><br><br>

    <a href="/movies/new">PELICULAS ORDENADAS POR FECHA DE ESTRENO</a><br>


    <br><br><br>
    <a href="/movies/recommended">PELICULAS RECOMENDADAS</a><br>

    
  </body>
</html>
